/* Base styles ago here, only stuff that should appear on every page */

body {
    padding-right: 0px;
    padding-left: 0px;
    background-color: lightgray;
}

.container-narrow {
    margin: 0 auto;
    max-width: 1170px;
}

.my-navigation .btn {
    margin-bottom: 0.5em;
}
