/* Base styles ago here, only stuff that should appear on every page */

body {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #e8e8e8;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1170px;
}

.my-navigation {
    background-color: rgba(255,255,255,.2);
    margin-bottom: 0px;
    padding-top: 0.75em;
    padding-bottom: 0.25em;
    text-align: center;
}

.my-navigation .btn {
    margin-bottom: 0.5em;
    /*
    box-shadow: none;
    */
    border: 1px solid gray;
}

.my-top-box {
    box-shadow: inset 0px 20px 10px -20px #000000, inset 0px -5px 10px -7px #000000;
/*
    box-shadow: inset 0px 2px 10px #000000;
    */
    border-bottom: 1px solid white;
    /*
      border-top: 1px solid black;
      margin-top: 1em;
      */
    padding-top: 10px;
    margin-bottom: 2em;

    background: #808080;
    background-image: url('/img/grid-white.png');
    background-position: center top;
}

.my-top-box .my-buttons {
    margin-top: 20px;
}

.my-top-box .btn-success {
    border: 1px solid #387038;
}
.my-top-box .btn-info {
    border: 1px solid #1f6377;
}


.my-box {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 2em;
    background: white;
}

#navbar {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/* center the social buttons */
#navbar #social-buttons {
    margin-top: 10px;
}

@media (max-width: 767px) {
    #navbar .navbar-inner {
        min-height: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #navbar .nav li a {
        height: 10px;
        line-height: 10px;
    }

    /* center the social buttons */
    #navbar #social-buttons {
        margin-top: 5px;
    }

    .container-fluid {
        margin-right: 3%;
        margin-left: 3%;
    }
}

@media (max-width: 650px) {
    #fork { display: none; }
}

@media (max-width: 540px) {
    #watch { display: none; }
}
