@import url('base.css');

.downloads {
    list-style: none;
}

.btn-download {
    min-width: 200px;
    text-align: left;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-download img {
    width: 32px;
    height: 32px;
}

