.tooltip .tooltiptext {
  margin-left: 0.5em;
}
.headerbar-container,
footer {
  background-color: #1e1e22;
}
footer {
  margin-top: 3em;
  box-shadow: 0 50vh 0 50vh #1e1e22;
}
footer.media-content {
  padding: 1em 0;
  text-align: left;
}
footer nav li {
  list-style-type: none;
}
.headerbar {
  display: flex;
  height: 4.5rem;
  padding: 0;
  margin: 0;
  user-select: none;
  align-items: center;
}
.logo {
  height: 100%;
}
.headerbar-logo {
  display: flex;
  height: 90%;
}
.headerbar-content {
  display: flex;
  flex: 1;
}
.stretch {
  flex: 1;
}
.header-item {
  display: flex;
  color: #ececec;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  margin-left: 0.7em;
  border: solid transparent;
  border-width: 2px 0px;
  border-radius: 5px;
  transition: all .1s ease-out;
}
.header-item-active {
  background-color: #3e3e3e;
}
.header-item:hover {
  border-color: orange;
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}

.headerbar-social {
  word-spacing: 0.25em;
}
.fab {
  vertical-align: -17%;
}
.headerbar-button {
  padding-left: 1em;
  padding-right: 1em;
}

.button-donate-heart {
  height: 1.1rem;
  vertical-align: middle;
  margin-bottom: 0.1rem;
  margin-left: -0.1rem;
}
@media screen and (max-width: 700px) {
  .headerbar-button {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .tooltip .tooltiptext {
    display: none;
  }

  /*
  Tooltips disabled for now, not sure about them.

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .tooltip .tooltiptext {
    opacity: 0;
    transition: all .1s ease-out;
    transition-delay: 0s;
    width: 6em;
    top: 150%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -3em;
    pointer-events : none;
    position: absolute;
    z-index: 1;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    opacity: 0.5;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  .tooltip:hover .tooltiptext {
    opacity: 1;
    transition-delay: .3s;
  }
  */
}

/* NEWS */

.news {
  display: block;
  text-align: left;
  overflow: hidden;
  width: 47%;
  height: 12rem;
  max-width: 700px;
  margin: 1%;
  border-radius: 5px;
  background-color: #464646;
  background-clip: padding-box;
  margin-bottom: 15px;
  border: solid transparent;
  border-width: 2px 0px;
  transition: all .1s ease-out;
}
.media-content a.news:hover {
  transform: scale(1.03);
  text-decoration: none;
  border-color: orange;
}
.news-image {
  width: 30%;
  border-radius: 0px 5px 5px 0px;
  float: right;
  height: 100%;
  margin-right: 0px;
}
.news-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.news-title {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  color: #ececec;
  font-style: normal;
  background-color: #4e4e4e;
  padding: 0.4em 0.8rem;
}
.news-subtitle {
  padding-left: 10px;
  font-weight: 200;
  font-size: 80%;
  color: #8f8f8f;
}
.news-description {
  color: #ececec;
  margin-top: 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3em 0.8rem;
}
@media screen and (max-width: 1200px) {
  .news {
    width: 95%;
  }
}

.media-content {
  width: 100%;
  text-align: center;
  line-height: 1.5;
}
.media-content h2 {
  text-align: center;
  font-size: 1.7em;
  padding-bottom: 5px;
  margin-top: 3em;
  background: radial-gradient(farthest-side at bottom, yellow 10%, orange 25%, transparent 100%) bottom no-repeat;
  background-size: 100% 5px;
}
.media-content p.h2-subtitle {
  margin-top: -15px;
  margin-bottom: 22px;
}
.media-content h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.media-content h4 {
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  color: #7c90ff;
}
a:hover {
  text-decoration: underline;
  color: #cad2ff;
}
.media-content pre code {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
}
html,
body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #3e3e3e;
  color: #d2d2d2;
}
.container {
  max-width: 1200px;
  padding: 0px 0.8rem;
  margin-left: auto;
  margin-right: auto;
}
a:focus {
  outline: none;
}
.section {
  font-size: 1.4rem;
}
.warning {
  color: #c8c864;
}

.progress {
  background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
  background-repeat: repeat-x;
  height: 20px;
  overflow: hidden;
}
.progress-bar {
  float: left;
  color: #fff;
  height: 100%;
  transition: width 0.6s ease;
}
.progress-bar-warning {
  background-color: #f0ad4e;
  background-repeat: repeat-x;
}
.progress-bar-striped {
  background-size: 40px 40px;
}
.goalmarker {
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: margin-right;
  transition-timing-function: ease;
}
