.headerbar-container,
footer {
  background-color: #1e1e22;
}
footer {
    margin-top: 3em;
}
footer.media-content {
  padding: 1em 0;
  text-align: left;
}
footer nav li {
  list-style-type: none;
}
.headerbar {
  display: flex;
  height: 4.5rem;
  padding: 0;
  margin: 0;
  user-select: none;
  align-items: center;
}
.logo {
  height: 100%;
}
.header-logo {
  display: flex;
  height: 90%;
}
.header-content {
  display: flex;
  float: right;
  height: 100%;
  align-items: center;
}
.header-push {
  margin-right: 1.5rem;
  flex: 1;
}
.header-item,
.header-item:visited,
.header-item:link {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 1.2rem;
  color: #ececec;
  font-style: normal;
  text-decoration: none;
}
.header-item:active,
.header-item:hover,
.header-item-active {
  color: #ececec;
  text-shadow: 0 0 1px #d6d6d6, 0 0 1px #d6d6d6;
}
.header-item-active,
.header-item-active:hover {
  color: #b1d9ff !important;
  text-shadow: 0 0 1px #b1d9ff, 0 0 1px #b1d9ff;
}
.header-social {
  color: #ececec;
  padding: 0.25em 0.5em;
  margin-left: 0.7em;
  border: solid transparent;
  border-width: 2px 0px;
  border-radius: 5px;
  transition: all .1s ease-out;
  background-color: #464646;
  text-decoration: none;
  text-align: center;
  word-spacing: 0.25em;
}
.fab {
  vertical-align: -17%;
}
.header-social:hover {
  border-color: orange;
  transform: scale(1.1);
  color: white;
}
.header-button {
  background-color: #00cc66;
  border-style: solid;
  border-color: #009933;
  border-width: 3px;
  padding: 0.4rem;
  border-radius: 10px;
  font-size: 1.2rem !important;
}
.header-button-donate {
  background-color: #bb799c;
  border-color: #865767;
}
.header-button-donate-heart {
  height: 1.1rem;
  vertical-align: middle;
  margin-bottom: 0.1rem;
  margin-left: -0.1rem;
}
.header-button-download {
  background-color: #6262E6;
  border-color: #6757BB;
}
@media screen and (max-width: 515px) {
  .header-button {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header-message {
    display: none;
  }
  .showcase-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60rem;
  }
}
@media screen and (max-width: 900px) {
  .tooltip .tooltiptext {
    display: none;
  }

  /*
  Tooltips disabled for now, not sure about them.

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .tooltip .tooltiptext {
    opacity: 0;
    transition: all .1s ease-out;
    transition-delay: 0s;
    width: 6em;
    top: 150%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -3em;
    pointer-events : none;
    position: absolute;
    z-index: 1;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    opacity: 0.5;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  .tooltip:hover .tooltiptext {
    opacity: 1;
    transition-delay: .3s;
  }
  */
  .showcase-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
  }
}
@media screen and (max-width: 720px) {
  .showcase-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
  }
}
.community-icon {
  width: 50% !important;
  max-width: 7rem;
}
.news-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 0px;
}
.news-subtitle {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
  color: #8f8f8f;
}
.news-content img {
  border-radius: 10px;
  max-width: 100%;
}
.news-content video {
  border-radius: 10px;
  max-width: 100%;
}
.news-social-links {
  display: inline-block;
}
.news-social-icon {
  height: 1.3rem;
  vertical-align: middle;
}
.news-social-link {
  font-size: 1.1rem;
  color: #ececec;
}
.release-feature-authors {
  margin-top: -1rem !important;
  font-style: italic;
}
.news-image-subtitle {
  color: #8f8f8f;
  font-style: italic;
}
.tiled-logo-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 35rem;
}
.tiled-description {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.card {
  display: block;
  text-align: left;
  overflow: hidden;
  width: 47%;
  height: 12rem;
  margin: 1%;
  border-radius: 5px;
  background-color: #464646;
  background-clip: padding-box;
  margin-bottom: 15px;
  border: solid transparent;
  border-width: 2px 0px;
  transition: all .1s ease-out;
}
.media-content a.card:hover {
  transform: scale(1.03);
  text-decoration: none;
  border-color: orange;
}
.card-image {
  width: 30%;
  border-radius: 0px 5px 5px 0px;
  float: right;
  height: 100%;
  margin-right: 0px;
}
.card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card-title {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  color: #ececec;
  font-style: normal;
  background-color: #4e4e4e;
  padding: 0.4em 0.8rem;
}
.card-subtitle {
  padding-left: 10px;
  font-weight: 200;
  font-size: 80%;
  color: #8f8f8f;
}
.card-description {
  color: #ececec;
  margin-top: 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3em 0.8rem;
}
.media-content {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: #d2d2d2;
}
.media-content h2 {
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 5px;
  margin-top: 3em;
  background: radial-gradient(farthest-side at bottom, yellow 10%, orange 25%, transparent 100%) bottom no-repeat;
  background-size: 100% 5px;
}
.media-content p.h2-subtitle {
  margin-top: -15px;
  margin-bottom: 22px;
}
.media-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.media-content h4 {
  margin-bottom: 1rem;
}
.media-content a {
  text-decoration: none;
  color: #7c90ff;
}
.media-content a:hover {
  text-decoration: underline;
  color: #cad2ff;
}
.media-content pre code {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.eot?v=3.0.1");
  src: url("fontawesome-webfont.eot?#iefix&v=3.0.1")
      format("embedded-opentype"),
    url("fontawesome-webfont.woff?v=3.0.1")
      format("woff"),
    url("fontawesome-webfont.ttf?v=3.0.1")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  color: #ececec;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #3e3e3e;
}
.container {
  max-width: 1200px;
  padding: 0px 0.8rem;
  margin-left: auto;
  margin-right: auto;
}
a:focus {
  outline: none;
}
.section {
  font-size: 1.4rem;
}
.warning {
  color: #c8c864;
}

.progress {
  background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
  background-repeat: repeat-x;
  height: 20px;
  overflow: hidden;
}
.progress-bar {
  float: left;
  color: #fff;
  height: 100%;
  transition: width 0.6s ease;
}
.progress-bar-warning {
  background-color: #f0ad4e;
  background-repeat: repeat-x;
}
.progress-bar-striped {
  background-size: 40px 40px;
}
.goalmarker {
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: margin-right;
  transition-timing-function: ease;
}
