.my-top-box {
    /*
     TODO: Only apply this shadow to the top/bottom, not to left/right sides.
     Maybe that should simply be done by a background-image.
     */
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid white;
}

.my-box {
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
    border: 1px solid gray;
    border-bottom-color: white;
    border-right-color: white;
}

