  <div class="headerbar-container">
    <nav class="headerbar container">
      <a href="/" class="headerbar-logo"><img src="/img/tiled-logo-white.png" class="logo" alt="Tiled logo" width="393" height="213" /></a>
      <div class="headerbar-content">
        <a class="header-item headerbar-button" href="https://doc.mapeditor.org/en/stable/">Docs</a>
        <a class="header-item headerbar-button" href="/news">News</a>
        <a class="header-item headerbar-button" href="/donate">Donate</a>
        <div class="stretch"></div>

        {% include social_icons.html %}
      </div>
    </nav>
  </div>

  <div class="container">
