build
bin
lib/tiled/plugins/*
lib/*.so*
Makefile*
*.o
*.qm
*.moc
moc_*.cpp
ui_*.h
*.pro.user*
qrc_*
docs/html
.directory

# Build artifacts on Windows
tiled.exe
tmxrasterizer.exe
tmxviewer.exe
automappingconverter.exe
*.dll
*.obj
*.a
*.lib
*.exp
*.intermediate.manifest

# Build artifacts on Mac
translations/phony_target.app

tests/test_mapreader

# Ronn html outputs
docs/*.1.html
