*                   text=auto

*.cpp               text
*.h                 text
*.ui                text

*.bat               eol=crlf

*.png               binary

.gitignore          export-ignore
.gitattributes      export-ignore
.mailmap            export-ignore
.tx                 export-ignore
