Thorbjørn Lindeijer <bjorn@lindeijer.nl>
Thorbjørn Lindeijer <bjorn@lindeijer.nl> Thorbjørn Lindeijer <thorbjorn@lindeijer.nl>
Thorbjørn Lindeijer <bjorn@lindeijer.nl> Thorbjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Alex Vega (semtiko) <semtiko@gmail.com> Alexander Komarnitsky (Semtiko) <semtiko@ya.ru>
Alex Vega (semtiko) <semtiko@gmail.com> Alexander Komarnitsky (Semtiko) <semtiko@gmail.com>
Jeff Bland <jksb@member.fsf.org> Jeff Bland <jeff@teamphobic.com>
Jeff Bland <jksb@member.fsf.org> Jeff <jeff@phobicstudios.com>
Jeff Bland <jksb@member.fsf.org> Jeff Bland <jksb@linux.com>
Porfírio Ribeiro <porfirioribeiro@gmail.com> Porfírio José Pereira Ribeiro <porfirioribeiro@gmail.com>
Tamir Atias (KonoM) <engine.games@gmail.com> Tamir Atias <engine.games@gmail.com>
Samuli Tuomola <samuli.tuomola@gmail.com> stt <samuli.tuomola@gmail.com>
Alex Vega (semtiko) <semtiko@gmail.com> Alex Vega <semtiko@gmail.com>
Dennis Honeyman <arcticuno@gmail.com> Dennis Honeyman <dennis@dennis-laptop.(none)>
Yohann Ferreira <yohann.ferreira@orange.fr> Yohann Ferreira <yohann_dot_ferreira_at_orange_dot_efer>
Stefan Beller <stefanbeller@gmail.com> <stefanbeller@googlemail.com>
Stefan Beller <stefanbeller@gmail.com> <sbeller@google.com>

