Thorbjørn Lindeijer <thorbjorn@lindeijer.nl> Thorbjørn Lindeijer <bjorn@lindeijer.nl>
Thorbjørn Lindeijer <thorbjorn@lindeijer.nl> Bjørn Lindeijer <bjorn@lindeijer.nl>
Thorbjørn Lindeijer <thorbjorn@lindeijer.nl> Thorbjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Alex Vega (semtiko) <semtiko@gmail.com> Alexander Komarnitsky (Semtiko) <semtiko@ya.ru>
Alex Vega (semtiko) <semtiko@gmail.com> Alexander Komarnitsky (Semtiko) <semtiko@gmail.com>
Jeff Bland <jksb@member.fsf.org> Jeff Bland <jeff@teamphobic.com>
Jeff Bland <jksb@member.fsf.org> Jeff <jeff@phobicstudios.com>
Porfírio Ribeiro <porfirioribeiro@gmail.com> Porfírio José Pereira Ribeiro <porfirioribeiro@gmail.com>
