---
layout: default
title: Download
---

<h1>Download</h1>

<iframe src="https://itch.io/embed/28768?linkback=true&amp;dark=true" width="552" height="167" frameborder="0"><a href="https://thorbjorn.itch.io/tiled">Tiled Map Editor by Thorbjørn</a></iframe>

<h3 id="changes">Recent Releases</h3>
{% for post in site.posts limit:10 %}
{% if post.tags contains 'release' %}
<a class="news news-collapsed" href="{{ post.url }}">
  <div class="news-title">{{ post.title }} <span class="news-subtitle">{{ post.date | date_to_long_string }}</span></div>
</a>
{% endif %}
{% endfor %}
