---
layout: default
title: Libraries and Frameworks
---

<h1>{{ page.title }}</h1>

{% for lib in site.data.libs  %}
  {% if forloop.first %}
    <h2>{{ lib.language }}</h2>
    <ul>
  {% endif %}

  <li>
    <p><a href="{{ lib.url }}" style="font-weight: bold;">{{ lib.name }}</a>, {{ lib.updated | date: "%B %Y" }}, {{ lib.features }}</p>
    <div style="color: gray">{{ lib.notes | markdownify }}</div>
  </li>

  {% if forloop.last %}
    </ul>
  {% else %}
    {% assign next_lib = site.data.libs[forloop.index] %}
    {% if lib.language != next_lib.language %}
      </ul>
      <h2>{{ next_lib.language }}</h2>
      <ul>
    {% endif %}
  {% endif %}
{% endfor %}
