---
layout: default
title: Libraries and Frameworks
---

<h1>{{ page.title }}</h1>

<p><i>This list is meant to become an up-to-date reference of maintained libraries offering Tiled map support. Currently many <a href="https://doc.mapeditor.org/en/latest/reference/support-for-tmx-maps/">libraries and frameworks</a> that are listed in the Tiled manual are still missing here. Please consider helping out by reviewing one of the listed libraries!</i></p>

{% for lib in site.data.libs  %}
  {% if forloop.first %}
    <h2>{{ lib.language }}</h2>
    <ul>
  {% endif %}

  <li class="library">
    <div><a href="{{ lib.url }}" class="library-name">{{ lib.name }}</a>
    </div>
    {% if lib.notes %}
      <div class="library-notes">{{ lib.notes | markdownify }}</div>
    {% endif %}
    {% if lib.wiki %}
      <a href="{{ lib.wiki }}">More information on Tiled wiki</a>
    {% endif %}
  </li>

  {% if forloop.last %}
    </ul>
  {% else %}
    {% assign next_lib = site.data.libs[forloop.index] %}
    {% if lib.language != next_lib.language %}
      </ul>
      <h2>{{ next_lib.language }}</h2>
      <ul>
    {% endif %}
  {% endif %}
{% endfor %}
