---
layout: default
title: News
---

<section class="media-content">
  <h2 class="big">Latest Updates</h2>
  <div class="news-list">
{% for post in site.posts limit:2 %}
    <a class="news" href="{{ post.url }}">
{% if post.image %}
      <div class="news-image">
        <img src="img/posts/{{ post.image }}" />
      </div>
{% endif %}
      <div class="news-title">{{ post.title }} <span class="news-subtitle">{{ post.date | date_to_long_string }}</span></div>
      <div class="news-description">{{ post.excerpt | strip_html }}</div>
    </a>
{% endfor %}
  </div>
</section>

<section class="media-content">
  <h2 class="big">Previously</h2>

{% for post in site.posts  %}
  {% if forloop.index > 2 %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.index == 3 %}
      <h3>{{this_year}}</h3>
      <div class="news-list">
    {% endif %}

    <a class="news news-collapsed" href="{{ post.url }}">
      <div class="news-title">{{ post.title }} <span class="news-subtitle">{{ post.date | date_to_long_string }}</span></div>
    </a>

    {% if forloop.last %}
      </div>
    {% else %}
      {% if this_year != next_year %}
        </div>
        <h3>{{next_year}}</h3>
        <div class="news-list">
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
</section>
