---
layout: default
title: News
---

<h2>News Archive</h2>

{% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
    <h3>{{this_year}}</h3>
    <ul>
  {% endif %}

  <li style="display: flex;"><span style="color: #818181; width: 45%; text-align: right; margin-right: 1em">{{ post.date | date: "%e %B" }} </span><a style="text-align: left;" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>

  {% if forloop.last %}
    </ul>
  {% else %}
    {% if this_year != next_year %}
      </ul>
      <h3>{{next_year}}</h3>
      <ul>
    {% endif %}
  {% endif %}
{% endfor %}
