.figure img {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px auto 5px auto;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.future .topic-title {
    border-bottom: 2px solid rgb(255, 148, 90);
    padding-bottom: 4px;
    color: rgb(254, 89, 0);

    /* make it a header */
    font-size: 150%;
    margin-top: 0;
    font-weight: 700;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}
.future a {
    color: rgb(254, 89, 0);
}

.new {
    font-weight: bold;
    font-size: 80%;
    background-color: rgb(254, 89, 0);
    border: 1px solid rgb(254, 89, 0);
    color: white;
    display: block;
    border-radius: 4px;
    float: right;
    padding: 3px;
    margin: 4px 0px 10px 10px;
}

.new-prev {
    background-color: unset;
    color: gray;
    border-color: gray;
}

/* we use badges to mark changes */
.sd-badge {
    float: right;
    margin: 0px 0px 10px 10px;
}
:root {
    --sd-color-primary: rgb(254, 89, 0);
    --sd-color-secondary: gray;
}

/* inline icons for special Automapping tiles */
.tile {
    font-weight: bold;
}
.tile::after {
    content: '';
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    background-image: url('images/automap-tiles.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: -0.2em 0em -0.2em 0.2em;
}
.tile.negate::after {
    background-position: 0%;
}
.tile.ignore::after {
    background-position: 25%;
}
.tile.nonempty::after {
    background-position: 50%;
}
.tile.empty::after {
    background-position: 75%;
}
.tile.other::after {
    background-position: 100%;
}

/* override table no-wrap */
.wy-table-responsive table td {
    white-space: normal;
}

/* override table middle align */
.rst-content table.docutils td {
    vertical-align: top;
}

/* override too much space between line blocks */
.rst-content .line-block {
    margin-bottom: 0.5em;
}
