.figure img {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px auto 5px auto;
}

.future .topic-title {
    border-bottom: 2px solid rgb(255, 148, 90);
    padding-bottom: 4px;
    color: rgb(254, 89, 0);

    /* make it a header */
    font-size: 150%;
    margin-top: 0;
    font-weight: 700;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}
.future a {
    color: rgb(254, 89, 0);
}

.new {
    font-weight: bold;
    font-size: 80%;
    background-color: rgb(254, 89, 0);
    border: 1px solid rgb(254, 89, 0);
    color: white;
    display: block;
    border-radius: 4px;
    float: right;
    padding: 3px;
    margin: 4px 0px 10px 10px;
}

.new-prev {
    background-color: unset;
    color: rgb(254, 89, 0);
}
