  <div class="headerbar-container">
    <nav class="headerbar container">
      <a href="/" class="headerbar-logo"><img src="/img/tiled-logo-white.png" class="logo" alt="tiled logo" /></a>
      <div class="headerbar-content">
        <!-- TOOD: Make the documentation part of the website -->
        <a class="header-item headerbar-button" href="https://doc.mapeditor.org/en/stable/">Docs</a>
{% if page.title == "News" %}
        <a class="header-item header-item-active headerbar-button" href="/news">News</a>
{% else %}
        <a class="header-item headerbar-button" href="/news">News</a>
{% endif%}
{% if page.title == "Donate" %}
        <a class="header-item header-item-active headerbar-button" href="/donate">Donate</a>
{% else %}
        <a class="header-item headerbar-button" href="/donate">Donate</a>
{% endif%}
        <div class="stretch"></div>

        <a href="https://discourse.mapeditor.org/" class="header-item headerbar-social tooltip"><i class="fab fa-discourse fa-2x"></i> <span class="tooltiptext">Forum</span></a>
        <a href="https://discord.gg/39wbTv7" class="header-item headerbar-social tooltip"><i class="fab fa-discord fa-2x"></i> <span class="tooltiptext">Discord</span></a>
        <a href="https://twitter.com/TiledApp" class="header-item headerbar-social tooltip"><i class='fab fa-twitter fa-2x'></i> <span class="tooltiptext">Twitter</span></a>
        <a href="https://github.com/mapeditor/tiled" class="header-item headerbar-social tooltip"><i class="fab fa-github fa-2x"></i> <span class="tooltiptext">GitHub</span></a>
      </div>
    </nav>
  </div>

  <div class="container">
