  <div class="headerbar-container">
    <nav class="headerbar container">
      <a href="/" class="headerbar-logo"><img src="/img/tiled-logo-white.png" class="logo" alt="Tiled logo" width="393" height="213" /></a>
      <div class="headerbar-content">
{% if page.title == "Docs" %}
        <a class="header-item header-item-active headerbar-button" href="/docs">Docs</a>
{% else %}
        <a class="header-item headerbar-button" href="/docs">Docs</a>
{% endif%}
{% if page.title == "News" %}
        <a class="header-item header-item-active headerbar-button" href="/news">News</a>
{% else %}
        <a class="header-item headerbar-button" href="/news">News</a>
{% endif%}
{% if page.title == "Donate" %}
        <a class="header-item header-item-active headerbar-button" href="/donate">Donate</a>
{% else %}
        <a class="header-item headerbar-button" href="/donate">Donate</a>
{% endif%}
        <a class="header-item headerbar-button" rel="noopener sponsored" href="https://craftpix.net/link/TiledHeaderAssets">
          Pixel&nbsp;Game&nbsp;Assets
          <svg style="display: inline-block; width: 1em; height: 1em; fill: currentColor; margin-left: 7px;" viewBox="0 0 48 48">
            <path d="M36 24c-1.2 0-2 0.8-2 2v12c0 1.2-0.8 2-2 2h-22c-1.2 0-2-0.8-2-2v-22c0-1.2 0.8-2 2-2h12c1.2 0 2-0.8 2-2s-0.8-2-2-2h-12c-3.4 0-6 2.6-6 6v22c0 3.4 2.6 6 6 6h22c3.4 0 6-2.6 6-6v-12c0-1.2-0.8-2-2-2z"></path>
            <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2 0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8 0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8 2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
          </svg>
        </a>
        <div class="stretch"></div>

        {% include social_icons.html %}
      </div>
    </nav>
  </div>

  <div class="container">
