  <div class="headerbar-container">
    <nav class="headerbar container">
      <a href="/" class="headerbar-logo"><img src="/img/tiled-logo-white.png" class="logo" alt="Tiled logo" width="393" height="213" /></a>
      <div class="headerbar-content">
{% if page.title == "Docs" %}
        <a class="header-item header-item-active" href="/docs">Docs</a>
{% else %}
        <a class="header-item" href="/docs">Docs</a>
{% endif%}
{% if page.title == "News" %}
        <a class="header-item header-item-active" href="/news">News</a>
{% else %}
        <a class="header-item" href="/news">News</a>
{% endif%}
{% if page.title == "Donate" %}
        <a class="header-item header-item-active" href="/donate">Donate</a>
{% else %}
        <a class="header-item" href="/donate">Donate</a>
{% endif%}
        <a class="header-item button-sponsor" rel="noopener sponsored" href="https://craftpix.net/link/TiledHeaderAssets">
          Pixel&nbsp;Game&nbsp;Assets<span class="ad">Ad</span>
        </a>
        <div class="stretch"></div>

        {% include social_icons.html %}
      </div>
    </nav>
  </div>

  <div class="container">
