  </div>

  <footer class="media-content">
    <div class="footer-content container">
      <p>Tiled - Copyright © 2008-2021 Thorbjørn Lindeijer<br> and <a href="https://www.openhub.net/p/tiled-qt/contributors/summary">many other contributors</a></p>
      <nav style="display: flex; justify-content: center; align-items: top; margin-left: 1em;">
        <ul style="float: right; border-left: 2px solid #ececec; padding: 0 1em">
          <li><a href="https://discourse.mapeditor.org/">Forum</a></li>
          <li><a href="https://doc.mapeditor.org/en/stable/">Documentation</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/donate">Donate</a></li>
          <li><a href="https://discord.gg/39wbTv7">Discord</a></li>
          <li><a href="https://twitter.com/TiledApp">Twitter</a></li>
          <li><a rel="me" href="https://floss.social/@tiled">Mastodon</a></li>
          <li><a href="https://github.com/mapeditor/tiled">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </footer>

</body>
</html>
