  <meta charset="UTF-8">
  <meta name='viewport' content="width=device-width, initial-scale=1" />
  <meta property="og:image" content="https://www.mapeditor.org/img/tiled-logo-filled.png" />
  <link href='/favicon.ico' rel='icon' type='image/png'/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
  <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
  {% seo %}
  <script async defer data-domain="mapeditor.org" src="https://plausible.io/js/plausible.js"></script>
