  <meta charset="UTF-8">
  <meta name='viewport' content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="Tiled - A free and open source map editor" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.mapeditor.org" />
  <meta property="og:image" content="https://www.mapeditor.org/assets/tiled_logo_fill.png" />
  <meta property="og:description" content="Tiled is an easy to use and free level editor" />
  <link href='/favicon.ico' rel='icon' type='image/png'/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/base.css">
  <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
  {% seo %}
  <script async defer data-domain="mapeditor.org" src="https://plausible.io/js/plausible.js"></script>
