<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/favicon.ico' rel='icon' type='image/png'/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="/css/fontawesome.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet" media="screen">
    <link rel="me" href="https://plus.google.com/113047271137781766813" />
    <link rel="publisher" href="https://plus.google.com/104206952440491912596/" />
{% seo %}
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px">
      <ul class="nav navbar-nav">
        <li><a href="/"><i class="icon-home"></i> Home</a></li>
        <li><a href="http://discourse.mapeditor.org/"><i class="icon-group"></i> Forum</a></li>
        <li><a href="http://doc.mapeditor.org/"><i class="icon-book"></i> Documentation</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="http://github.com/bjorn/tiled"><i class="icon-github-alt"></i> Tiled on GitHub</a></li>
        <!-- TODO: Just have a row of icons (GitHub, [Twitter,] Google+, IRC?) -->
      </ul>
    </nav>

    <div class="my-top-box" style="position: relative;">
      <div class="background">

        <!-- a centered 0-width inline block -->
        <div style="display: inline-block; width: 0px;">
          <!-- the actual map, centered on the parent by using negative offset -->
          <div style="position: relative; left: -800px; width: 1600px; height: 520px;">

  <div class="t t34" style="left: 0px; top: 0px;"></div>
  <div class="t t38" style="left: 40px; top: 0px;"></div>
  <div class="t t66" style="left: 760px; top: 0px;"></div>
  <div class="t t68" style="left: 800px; top: 0px;"></div>
  <div class="t t70" style="left: 840px; top: 0px;"></div>
  <div class="t t66" style="left: 1000px; top: 0px;"></div>
  <div class="t t68" style="left: 1040px; top: 0px; width: 80px;"></div>
  <div class="t t74" style="left: 1120px; top: 0px;"></div>
  <div class="t t36" style="left: 1160px; top: 0px;"></div>
  <div class="t t38" style="left: 1200px; top: 0px;"></div>
  <div class="t t66" style="left: 1320px; top: 0px;"></div>
  <div class="t t68" style="left: 1360px; top: 0px; width: 120px;"></div>
  <div class="t t74" style="left: 1480px; top: 0px;"></div>
  <div class="t t38" style="left: 1520px; top: 0px;"></div>
  <div class="t t98" style="left: 0px; top: 40px;"></div>
  <div class="t t102" style="left: 40px; top: 40px;"></div>
  <div class="t t34" style="left: 80px; top: 40px;"></div>
  <div class="t t38" style="left: 120px; top: 40px;"></div>
  <div class="t t98" style="left: 760px; top: 40px;"></div>
  <div class="t t104" style="left: 800px; top: 40px;"></div>
  <div class="t t74" style="left: 840px; top: 40px;"></div>
  <div class="t t38" style="left: 880px; top: 40px;"></div>
  <div class="t t66" style="left: 1000px; top: 40px;"></div>
  <div class="t t68" style="left: 1040px; top: 40px; width: 160px;"></div>
  <div class="t t70" style="left: 1200px; top: 40px;"></div>
  <div class="t t34" style="left: 1280px; top: 40px;"></div>
  <div class="t t72" style="left: 1320px; top: 40px;"></div>
  <div class="t t68" style="left: 1360px; top: 40px; width: 160px;"></div>
  <div class="t t70" style="left: 1520px; top: 40px;"></div>
  <div class="t t34" style="left: 40px; top: 80px;"></div>
  <div class="t t72" style="left: 80px; top: 80px;"></div>
  <div class="t t70" style="left: 120px; top: 80px;"></div>
  <div class="t t34" style="left: 720px; top: 80px;"></div>
  <div class="t t38" style="left: 760px; top: 80px;"></div>
  <div class="t t66" style="left: 800px; top: 80px;"></div>
  <div class="t t68" style="left: 840px; top: 80px;"></div>
  <div class="t t70" style="left: 880px; top: 80px;"></div>
  <div class="t t34" style="left: 960px; top: 80px;"></div>
  <div class="t t72" style="left: 1000px; top: 80px;"></div>
  <div class="t t68" style="left: 1040px; top: 80px;"></div>
  <div class="t t106" style="left: 1080px; top: 80px;"></div>
  <div class="t t100" style="left: 1120px; top: 80px; width: 80px;"></div>
  <div class="t t102" style="left: 1200px; top: 80px;"></div>
  <div class="t t34" style="left: 1240px; top: 80px;"></div>
  <div class="t t72" style="left: 1280px; top: 80px;"></div>
  <div class="t t68" style="left: 1320px; top: 80px; width: 80px;"></div>
  <div class="t t106" style="left: 1400px; top: 80px;"></div>
  <div class="t t104" style="left: 1440px; top: 80px;"></div>
  <div class="t t68" style="left: 1480px; top: 80px;"></div>
  <div class="t t70" style="left: 1520px; top: 80px;"></div>
  <div class="t t98" style="left: 40px; top: 120px;"></div>
  <div class="t t100" style="left: 80px; top: 120px;"></div>
  <div class="t t102" style="left: 120px; top: 120px;"></div>
  <div class="t t34" style="left: 680px; top: 120px;"></div>
  <div class="t t72" style="left: 720px; top: 120px;"></div>
  <div class="t t74" style="left: 760px; top: 120px;"></div>
  <div class="t t72" style="left: 800px; top: 120px;"></div>
  <div class="t t106" style="left: 840px; top: 120px;"></div>
  <div class="t t102" style="left: 880px; top: 120px;"></div>
  <div class="t t34" style="left: 920px; top: 120px;"></div>
  <div class="t t72" style="left: 960px; top: 120px;"></div>
  <div class="t t68" style="left: 1000px; top: 120px;"></div>
  <div class="t t106" style="left: 1040px; top: 120px;"></div>
  <div class="t t102" style="left: 1080px; top: 120px;"></div>
  <div class="t t34" style="left: 1200px; top: 120px;"></div>
  <div class="t t72" style="left: 1240px; top: 120px;"></div>
  <div class="t t68" style="left: 1280px; top: 120px; width: 120px;"></div>
  <div class="t t74" style="left: 1400px; top: 120px;"></div>
  <div class="t t72" style="left: 1440px; top: 120px;"></div>
  <div class="t t106" style="left: 1480px; top: 120px;"></div>
  <div class="t t102" style="left: 1520px; top: 120px;"></div>
  <div class="t t34" style="left: 520px; top: 160px;"></div>
  <div class="t t36" style="left: 560px; top: 160px; width: 120px;"></div>
  <div class="t t72" style="left: 680px; top: 160px;"></div>
  <div class="t t106" style="left: 720px; top: 160px;"></div>
  <div class="t t100" style="left: 760px; top: 160px;"></div>
  <div class="t t104" style="left: 800px; top: 160px;"></div>
  <div class="t t74" style="left: 840px; top: 160px;"></div>
  <div class="t t38" style="left: 880px; top: 160px;"></div>
  <div class="t t98" style="left: 920px; top: 160px;"></div>
  <div class="t t104" style="left: 960px; top: 160px;"></div>
  <div class="t t68" style="left: 1000px; top: 160px;"></div>
  <div class="t t70" style="left: 1040px; top: 160px;"></div>
  <div class="t t34" style="left: 1120px; top: 160px;"></div>
  <div class="t t36" style="left: 1160px; top: 160px;"></div>
  <div class="t t72" style="left: 1200px; top: 160px;"></div>
  <div class="t t68" style="left: 1240px; top: 160px; width: 200px;"></div>
  <div class="t t106" style="left: 1440px; top: 160px;"></div>
  <div class="t t102" style="left: 1480px; top: 160px;"></div>
  <div class="tree" style="left: 641px; top: -90px;"></div>
  <div class="tree" style="left: 683px; top: -44px;"></div>
  <div class="tree" style="left: 608px; top: -27px;"></div>
  <div class="tree" style="left: 173px; top: -4px;"></div>
  <div class="tree" style="left: 228px; top: 52px;"></div>
  <div class="tree" style="left: 147px; top: 92px;"></div>
  <div class="tree" style="left: 303px; top: 105px;"></div>
  <div class="tree" style="left: 238px; top: 122px;"></div>

          </div>
        </div>

      </div>
      <div class="contents">

      <div class="container-fluid">
        <div class="row">
          <!--
          <a class='g-plus-link' href='https://plus.google.com/104206952440491912596?prsrc=3' rel='publisher' style='text-decoration:none;'><img alt='' src='https://ssl.gstatic.com/images/icons/gplus-32.png' style='border:0;width:32px;height:32px;'/></a>
          -->
          <div class="lead col-md-12">
            <h1 style="display: none;">Tiled</h1>
            <a href="index.html"><img src="/img/tiled-logo-white.png" style="margin-bottom: -40px; margin-left: 2%; width: 200px;"></a><br />
          </div>
        </div>
      </div>
      <div class="my-navigation">
        <!--<a class="btn btn-default btn-sm" href="http://blog.mapeditor.org/"><i class="icon-rss"></i> Blog</a>-->
        <a class="btn btn-default btn-sm" href="http://github.com/bjorn/tiled/issues"><i class="icon-exclamation-sign"></i> Issue Tracker</a>
        <div class="btn-group" style="text-align: left;">
          <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-comments"></i> IRC Channel <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="top: 1.9em">
            <li><a tabindex="-1" href="irc://irc.freenode.net/tiled">Join with IRC client</a></li>
            <li><a tabindex="-1" href="https://kiwiirc.com/client/irc.freenode.net/tiled" target="_blank">Join with browser</a></li>
          </ul>
        </div>
      </div>
    </div>

    </div>

    <div class="container-fluid">
      <div class="my-box">
