<!-- Bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='/favicon.ico' rel='icon' type='image/png'/>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
<link href="/css/fontawesome.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet" media="screen">
<link rel="me" href="https://plus.google.com/113047271137781766813" />
<link rel="publisher" href="https://plus.google.com/104206952440491912596/" />
<script async defer data-domain="mapeditor.org" src="https://plausible.io/js/plausible.js"></script>