div.col-md-9 img {
    max-width: 100%;
    display: inline;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px auto 10px auto;
}
