[Desktop Entry]
Name=Tiled
Comment=Tiled Map Editor
Exec=/usr/bin/tiled
Terminal=false
Type=Application
Icon=/usr/share/tiled/images/tiled-icon-32.png
Categories=Graphics;2DGraphics;
X-Desktop-File-Install-Version=0.1
