[Desktop Entry]
Name=Tiled
Comment=Tile map editor
Exec=tiled
Terminal=false
Type=Application
Icon=tiled
Categories=Graphics;2DGraphics;
X-Desktop-File-Install-Version=0.1
MimeType=application/x-tiled
