<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Tiled</string>
	<key>CFBundleGetInfoString</key>
	<string>Tiled 0.8.1, Copyright 2008-2011 Thorbjørn Lindeijer, GNU General Public License</string>
	<key>CFBundleIconFile</key>
	<string>tiled-icon-mac</string>
	<key>CFBundleIdentifier</key>
	<string>org.mapeditor.Tiled</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.1</string>
	<key>CFBundleVersion</key>
	<string>0.8.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2008-2010 Thorbjørn Lindeijer</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Tiled Map</string>
			<key>CFBundleTypeIconFile</key>
			<string>tmx-icon-mac</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tmx</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
