name: Compile on Ubuntu 20.04

on:
  push:
    paths-ignore:
    - 'docs/**'
    - '**.md'
    - 'appveyor.yml'
    - '.travis.yml'
    branches-ignore: [snapshot]
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '**.md'
    - 'appveyor.yml'
    - '.travis.yml'

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        max-size: 250M

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install qtbase5-dev libqt5svg5-dev qttools5-dev-tools zlib1g-dev qtdeclarative5-dev qtdeclarative5-private-dev qtbase5-private-dev qbs python3-dev

    - name: Setup qbs
      run: |
        qbs --version
        qbs setup-toolchains --detect
        qbs config defaultProfile gcc

    - name: Build
      run: |
        qbs build modules.cpp.compilerWrapper:ccache
